@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@font-face {
  font-family: "Sporting Grotesque";
  src: url("./font/SportingGrotesque-Regular.woff2") format("woff2"),
    url("./font/SportingGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("../styles/font/SportingGrotesque-Bold.woff2") format("woff2"),
    url("../styles/font/SportingGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --normal-color: #1c3764;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
}
li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer {
  color: white !important;
}
.footer-link span {
  color: white !important;
}

.fbrand-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-link a {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1.5;
  color: white;
}

.hero_title {
  font-family: "Sporting Grotesque";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0.01em;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px !important;
  height: 40px !important;
}
.hero_para {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262524;
  opacity: 0.5;
}

.info_area {
  background: linear-gradient(87.05deg, #6462f0 0%, #9190e9 95.5%);
  border-radius: 30px;
}
.info_area_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  opacity: 0.4;
  backdrop-filter: blur(32px);
  border-radius: 20px;
}
.info-title {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.work_box_active {
  background: #ffffff;
  box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
  border-radius: 10px;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  opacity: none !important;
}
.work_box_not_active {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262524;
  background: #ffffff;
  opacity: 0.3;
  box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
  border-radius: 10px;
}
.work_para {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262524;
}
.feature_title {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262524;
}
.feature_para {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262524;
  opacity: 0.5;
}
.feature_image {
  width: 95px;
  height: 95px;
}
