@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@font-face {
  font-family: "Sporting Grotesque";
  src: url("./font/SportingGrotesque-Regular.woff2") format("woff2"),
    url("./font/SportingGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("../styles/font/SportingGrotesque-Bold.woff2") format("woff2"),
    url("../styles/font/SportingGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --normal-color: #1c3764;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer {
  color: white !important;
}
.footer-link span {
  color: white !important;
}

.fbrand-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-link a {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1.5;
  color: white;
}
